{% set sidebar_name = "资讯分类" %}
{% set menu_name = "news" %}
{% include "@gcommon/cms/views/layouts/cmstop2.twig" %}
<div class="content">
    <h2>分类列表</h2>
{% block content %}
{{
    widget('\\yii\\grid\\GridView', {            
            'id':'app-grid', 
            'dataProvider':model.getAllRoots(), 
            'columns':{
                0:'id',
                1:'root',
                2:'name',
                3:'short_name',
                4:{'class':'\\common\\extensions\\Grid\\GridActionColumn',
                    'template':'{update}{view}{show}',
                    },
                5:{
                    'label':'操作',
                    'value':model.getUrl,
                },
}})

}}
{% endblock %}
</div>