{% set menu_name="news"%}
{% set sidebar_name = "资讯列表" %}
{% include "@gcommon/cms/views/layouts/cmstop2.twig" %}
  {% block content %}
<div class="content"> 
    <div class="container-fluid">
    <div class="row-fluid">
      {{ 

        widget('\\yii\\grid\\GridView', {         
            'id':'app-grid', 
            'dataProvider':result,
            'filterModel':searchModel,
            'columns':{
                0:{
                  'attribute':'object_id',
                },
                1:{
                  'attribute':"object_name",
'value':'return $model->objects->object_name;'|value_callback,
                },
                2:{
                  'attribute':'url',
                  'value':'return $model->objects->url;'|value_callback,
                },
                3:{
                  "attribute":"object_date",
                  'value':'return $model->objects->object_date;'|value_callback,
                },
4:{
                  "attribute":"object_status",
                  "value":searchModel.convertObjectStatus()|value_callback,
                },
 5:{
                  "attribute":'',
                  "format":"raw",
                  "value":searchModel.getPreviewLink()|value_callback,
                },
                6:{
                  "attribute":'',
                  "format":"raw",
                  "value":searchModel.getOperationLink1()|value_callback,
                },
7:{
                  "attribute":'name',
                  "value":'return $model->termname->name;'|value_callback,
                },
                8:{
                  "attribute":'',
                  "format":"raw",
                  "value":searchModel.getUpdateLink()|value_callback,
                },
}})

}}
    </div>
</div>
</div>
</div>
{% endblock %}
