{% set menu_name="editor"%}
{% set sidebar_name = "犬种新鲜事列表" %}
{% include "@gcommon/cms/views/layouts/cmstop2.twig" %}
<div class="content">
  <h4>添加犬种关联论坛版块</h4>
{% block content %}
      {% include "@gcommon/cms/views/layouts/notice.twig" %}
    <div class="container">
    <div class="row-fluid">
      <span style="color:red;">注：每个犬种最多只能关联一个论坛版块</span>
      <div class="form">
        {% set form = activeform.begin({'id':'create-form','options':{'class':'form-horizontal'}}) %}
        <div class="form-wrapper">
            <div id="form-body" >
                <div id="form-body-content">
                  <div id="termwrap">
                    {% if isNew == true %}
                    {{ form.field(model, 'spe_id').dropDownList(species)|raw }}
                    {% else %}
                    {{ form.field(model, 'spe_id').dropDownList(species,{'disabled':'disabled'})|raw }}
                    {% endif %}

                    {{ form.field(model, 'forum_id')|raw }}
                  </div>

                </div>
            </div>
                        
        </div>
    <div class="control-group">
      <div class="controls">
        <div class="form-group">
            <input type='submit' value='提交' class='btn btn-large btn-primary' /> 
      </div>
      </div>
    </div>
    </div>
</div>
</div>
{% endblock %}
</div>