{% set menu_name="editor"%}
{% set sidebar_name = "犬种新鲜事列表" %}
{% include "@gcommon/cms/views/layouts/cmstop2.twig" %}
{% block content %}
<div class="content">
    <br/>
    <a href="/cms/editor/create-newthings"><input class='btn btn-large btn-primary' value="添加犬种关联论坛版块"></a>
  	{{
  widget('\\yii\\grid\\GridView', {            
            'id':'app-grid', 
            'class':'grid-view',
            'dataProvider':model.getAllTings(), 
            'filterModel':model, 
            'columns':{
                0:'id',
                2:{'attribute':'spe_id','value':model.getSpeName,},
                3:{'attribute':'forum_id'},
                4:{
                    'class':'\\common\\extensions\\Grid\\GridActionColumn',
                    'template':'{update}{delete}',
                },
}})

}}
</div>
{% endblock %}
