{% set menu_name="editor"%}
{% set sidebar_name = "首页最新宠物" %}
{% include "@gcommon/cms/views/layouts/cmstop2.twig" %}
{% block content %}
<div class="content">
  	{{
  widget('\\yii\\grid\\GridView', {            
            'id':'app-grid', 
            'class':'grid-view',
            'dataProvider':model.getDogList(), 
            'filterModel':model, 
            'columns':{
                0:'id',
                1:'dog_id',
                2:{'attribute':'dog_name',},
                3:{'attribute':'dog_userid'},
                4:'dog_headid',
}})

}}
</div>
{% endblock %}
