{% set menu_name="帐号管理"%}
{% set sidebar_name = "管理管理员" %}
{% include "@gcommon/cms/views/layouts/cmstop2.twig" %}
<div class="content">
{% block content %}
<h1>Hello world!</h1>
{% endblock %}
</div>

