{% set menu_name="editor"%}
{% set sidebar_name = "新建模块" %}
{% include "@gcommon/cms/views/layouts/cmstop2.twig" %}
{% block content %}
<div class="content">
  	<div class="container-fluid">
    <div class="row-fluid">
      <div class="form">
        {% set form = activeform.begin({'id':'create-form','options':{'class':'form-horizontal'}}) %}
        <div class="form-wrapper">
            <div id="form-body" >
                <div id="form-body-content">
                  <div id="termwrap">
                    {{ form.field(block, 'type').dropDownList(types)|raw }}
                  </div>

                </div>
            </div>
                        
        </div>
        
    <div class="control-group">
      <input type="hidden" value="1" name="choosetype" />
    </div>
    <div class="control-group">
      <div class="controls">
        <div class="form-group">
            <input type='submit' value='提交' class='btn btn-large btn-primary' /> 
      </div>
      </div>
    </div>
    </div>
</div>
</div>
{% endblock %}
