{% set menu_name = "order" %}
{% set sidebar_name = "订单列表" %}
{% extends "@app/views/layouts/header.twig" %}
  {% block content %}
      <!-- Page heading -->
      <div class="page-head">
        <h2 class="pull-left"><i class="fa fa-table"></i> Order</h2>

        <!-- Breadcrumb -->
        <div class="bread-crumb pull-right">
          <a href="/"><i class="fa fa-home"></i> Home</a> 
          <!-- Divider -->
          <span class="divider">/</span> 
          <a href="/order/list" class="bread-current">Order</a>
        </div>

        <div class="clearfix"></div>

      </div>
      <!-- Page heading ends -->

      <!-- Matter -->
      <div class="matter">
        <div class="container">

          <!-- Table -->

            <div class="row">

              <div class="col-md-12">
{% if status == 0 %}
{% set form = activeform.begin({'id':'create-form-package','action':'/order/confirm','layout':'horizontal','fieldConfig':{'horizontalCssClasses':{'wrapper':'col-lg-5'} } }) %}
<button class="btn btn-sm btn-info" type="button" onclick="submitOrder();">合并确认订单</button>
{% endif %}
{% if status == 4 %}
{% set form = activeform.begin({'id':'create-form-package','action':'/package/multiple','layout':'horizontal','fieldConfig':{'horizontalCssClasses':{'wrapper':'col-lg-5'} } }) %}
<button class="btn btn-sm btn-info" type="button" onclick="submitOrder();">合并包装</button>
{% endif %}
{% if status == 1 %}
{% set form = activeform.begin({'id':'create-form-package','action':'/order/shipping','layout':'horizontal','fieldConfig':{'horizontalCssClasses':{'wrapper':'col-lg-5'} } }) %}
<button class="btn btn-sm btn-info" type="button" onclick="submitOrder();">合并标记发货</button>
{% endif %}
                <div class="widget">

                <div class="widget-head">
                  <div class="pull-left">Tables</div>
                  <div class="widget-icons pull-right">
                    <a href="tables.html#" class="wminimize"><i class="fa fa-chevron-up"></i></a> 
                    <a href="tables.html#" class="wclose"><i class="fa fa-times"></i></a>
                  </div>  
                  <div class="clearfix"></div>
                </div>
{# 'filterModel':searchModel, #}
                  <div class="widget-content">
{{ widget('\\yii\\grid\\GridView', {
            'layout':'\n{items}\n{pager}',         
            'id':'app-grid', 
            'tableOptions':{'class':'table table-striped table-bordered table-hover'},
            'dataProvider':dataProvider,
            
            'pager':{
                'class':'\\common\\extensions\\Page\\CPageLink',
            },
            'columns':{
                0:{
                  'class':'\\yii\\grid\\CheckboxColumn',
                },
                1:'viewid',
                5:{
                  'attribute':'storeroom_id',
                  'value':'return $model->storeroom->name;'|value_callback,
                },
                6:{
                  'attribute':'recipients',
                },
                7:'recipients_address',
                8:'recipients_contact',
                9:'created',
                10:{
                  'attribute':'下单人',
                  'value':'if($model->source == 0){return $model->createduser->username;}else{ return $model->createduser->english_name;}'|value_callback,
                },
                12:{
                    'class':'\\common\\extensions\\Grid\\GridActionColumn',
                    'template':'{view}',
                },
                13:{
                    'attribute':'处理订单',
                    'format':'raw',
                    'value':searchModel.getOptLink()|value_callback,
                },
                15:{
                    'attribute':'打印',
                    'format':'raw',
                    'value':searchModel.getPrintLink()|value_callback,
                }
        }})
    }}
{% if status != 2 and status != 3 and status != 7 %}
{{ void(form.end()) }}
{% endif %}
                    <div class="widget-foot">
                      <div class="clearfix"></div> 

                    </div>

                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
<a href="#myModal" id="package_error" data-toggle="modal"></a>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title">合并包装订单</h4>
            </div>
            <div class="modal-body">
                <span><font color="red">请选择您要包装的订单!!</font></span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
          </div>
</div>
</div>
<script type="text/javascript">
    function submitOrder(){
        var length = 0;
        $("input[name='selection[]']:checked").each(function(){
               length +=1; 
        });
        if(length > 0){
            $("#create-form-package").submit();
        }else{
            $('#package_error').click();
        }
    }
    function markshipping(id){
      var html = "";
      $.ajax({
          type : "POST",
          url:"/ajax/markship",
          dataType : "json",
          data : {"id":id},
          success : function(json){
              if(json == 1){
                 data_html = "<div class='tip_error'><p>订单还未包装，不能标记为发货!</p></div>";
              }else{
                 data_html = "<div class='tip_error'><p>订单已成功标记为发货!</p></div>";
              }
              $.layer({
                  type: 1,
                  title: '物料详情',
                  offset: [($(window).height() - 190)/2+'px', ''],
                  border : [5, 0.5, '#666'],
                  area: ['450px','190px'],
                  shadeClose: true,
                  closeBtn: [1, true],
                  close:function(){window.location.reload();},
                  page:{
                      html : data_html
                  }
              });
          }
      });
    }
    function marksign(id){
      var html = "";
      $.ajax({
          type : "POST",
          url:"/ajax/marksign",
          dataType : "json",
          data : {"id":id},
          success : function(json){
              if(json == 1){
                 data_html = "<div class='tip_error'><p>订单还未发货不能标记为签收！</p></div>";
                 $.layer({
                  type: 1,
                  title: '物料详情',
                  offset: [($(window).height() - 190)/2+'px', ''],
                  border : [5, 0.5, '#666'],
                  area: ['450px','190px'],
                  shadeClose: true,
                  closeBtn: [1, true],
                  close:function(){window.location.reload();},
                  page:{
                      html : data_html
                  }
                });
              }else{
                  window.location.href="/order/marksign?id="+id;
              }
              
          }
      });
    }
    function markunsign(id){
      var html = "";
      $.ajax({
          type : "POST",
          url:"/ajax/marksign",
          dataType : "json",
          data : {"id":id},
          success : function(json){
              if(json == 1){
                 data_html = "<div class='tip_error'><p>订单还未发货不能标记为未签收！</p></div>";
                 $.layer({
                  type: 1,
                  title: '物料详情',
                  offset: [($(window).height() - 190)/2+'px', ''],
                  border : [5, 0.5, '#666'],
                  area: ['450px','190px'],
                  shadeClose: true,
                  closeBtn: [1, true],
                  close:function(){window.location.reload();},
                  page:{
                      html : data_html
                  }
                });
              }else{
                  window.location.href="/order/markunsign?id="+id;
              }
              
          }
      });
    }
</script>
{% endblock %}
