{% set menu_name = "order" %}
{% set sidebar_name = "订单列表" %}
{% extends "../layouts/header.twig" %}
  {% block content %}
      <!-- Page heading -->
      <div class="page-head">
        <h2 class="pull-left"><i class="fa fa-table"></i> Order</h2>

        <!-- Breadcrumb -->
        <div class="bread-crumb pull-right">
          <a href="/"><i class="fa fa-home"></i> Home</a> 
          <!-- Divider -->
          <span class="divider">/</span> 
          <a href="/order/list" class="bread-current">Order</a>
        </div>

        <div class="clearfix"></div>

      </div>
      <!-- Page heading ends -->

      <!-- Matter -->
      <div class="matter">
        <div class="container">

          <!-- Table -->

            <div class="row">

              <div class="col-md-4">

                <div class="widget">

                <div class="widget-head">
                  <div class="pull-left">订单详情</div>
                  <div class="widget-icons pull-right">
                    <a href="tables.html#" class="wminimize"><i class="fa fa-chevron-up"></i></a> 
                    <a href="tables.html#" class="wclose"><i class="fa fa-times"></i></a>
                  </div>  
                  <div class="clearfix"></div>
                </div>

                  <div class="widget-content">
{{ widget('\\yii\\widgets\\DetailView', {
      'model':model,
      'attributes':{
          0:'id',
          1:'goods_code',
          2:'goods_quantity',
          3:'recipients',
          4:'recipients_address',
          5:'recipients_contact',
          6:'goods_active',
          7:{'attribute':'storeroom_id','value':model.storeroom.name},
          8:'info',
          9:{
            'attribute':'状态',
            'value':model.getOrderStatus(),
          }
      }

} )
  
}}
                    

                    <div class="widget-foot">
                      <div class="clearfix"></div> 

                    </div>

                  </div>
                </div>
              </div>

                            <div class="col-md-4">

                <div class="widget">

                <div class="widget-head">
                  <div class="pull-left">包装情况</div>
                  <div class="widget-icons pull-right">
                    <a href="tables.html#" class="wminimize"><i class="fa fa-chevron-up"></i></a> 
                    <a href="tables.html#" class="wclose"><i class="fa fa-times"></i></a>
                  </div>  
                  <div class="clearfix"></div>
                </div>

                  <div class="widget-content">
{{ widget('\\yii\\widgets\\DetailView', {
      'model':model,
      'attributes':{
          0:{
            'label':'包装数量',
            'value':model.packageInfo.num,
          },
          1:{
            'label':'包装实重(KG)',
            'value':model.packageInfo.actual_weight|join('KG'),
          },
          2:{
            'label':'包装抛重(KG)',
            'value':model.packageInfo.throw_weight|join("KG"),
          },
          3:{
            'label':'体积(立方米)',
            'value':model.packageInfo.volume|join("立方米"),
          },
          4:{
            'label':'运输方式',
            'value':model.getMethodText(),
          },
          5:{
            'label':'干线',
            'value':model.packageInfo.trunk,
          },
          6:{
            'label':'派送',
            'value':model.packageInfo.delivery,
          },
          7:{
            'label':'单价',
            'value':model.packageInfo.price,
          },
          8:{
            'label':'包装箱',
            'value':model.packageInfo.box,
          },
          9:{
            'label':'备注',
            'value':model.packageInfo.info,
          }
      }

} )
  
}}
                    

                    <div class="widget-foot">
                      <div class="clearfix"></div> 

                    </div>

                  </div>
                </div>
              </div>


                            <div class="col-md-4">

                <div class="widget">

                <div class="widget-head">
                  <div class="pull-left">Detail</div>
                  <div class="widget-icons pull-right">
                    <a href="tables.html#" class="wminimize"><i class="fa fa-chevron-up"></i></a> 
                    <a href="tables.html#" class="wclose"><i class="fa fa-times"></i></a>
                  </div>  
                  <div class="clearfix"></div>
                </div>

                  <div class="widget-content">
{{ widget('\\yii\\widgets\\DetailView', {
      'model':model,
      'attributes':{
          0:'id',
          1:'goods_code',
      }

} )
  
}}
                    

                    <div class="widget-foot">
                      <div class="clearfix"></div> 

                    </div>

                  </div>
                </div>
              </div>



            </div>
        </div>
      </div>
{% endblock %}
