{% set menu_name="news"%}
{% set sidebar_name = "资讯模板" %}
{% include "@gcommon/cms/views/layouts/cmstop2.twig" %}
  {% block content %}
<div class="content"> 
    <div class="container-fluid">
    <div class="row-fluid">
      {{ 

        widget('\\yii\\grid\\GridView', {         
            'id':'app-grid', 
            'dataProvider':dataProvider,
            'filterModel':searchModel,
            'columns':{
                0:{
                  'attribute':'id',
                },
                1:{
                  'attribute':"name",
                },
                2:{
                  "attribute":"status",
                  "value":searchModel.convertTempleteStatus()|value_callback,
                },
                3:{
                  "attribute":"template_id",
                  "value":'if($model->id == 1){return "新闻列表页模板";}else{return "新闻内容页模板";}'|value_callback,
                },
                4:
                {
                    'class':'\\common\\extensions\\Grid\\GridActionColumn',
                    'template':'{update}',
                    'buttons':{},
                }
}})

}}
    </div>
</div>
</div>
</div>
{% endblock %}
